{% extends 'base.html.twig' %}

{% block body %}
    <div class="bckg-body">
        <a href="{{ path('new_product') }}">add new</a><br>

        {% for product in products_arr %}
            [{{ product.id }}]
            [{{ product.name }}]
            <a href="{{ path('edit_product',{'id':product.id}) }}">edit</a><br>
        {% endfor %}
    </div>
{% endblock %}